Django==2.2.22
psycopg2
mysqlclient
pyoai
sickle
requests
solrpy
nose
tabulate
urllib3
beautifulsoup4
celery
django-appconf
django-cleanup
django-crispy-forms
django-video-encoding
importlib-metadata
more-itertools
mysql-connector
pytz
setuptools
sqlparse
opencv-python
